.node{
  width: 25px;
  height: 25px;
  outline: 1px solid  rgb(47, 103, 160);
  display: inline-block;
    
  }
.node-wall{

  width: 25px;
  height: 25px;
  outline: 1px solid rgb(47, 103, 160);
  display: inline-block;
  background-color: black;


}

.node-start{

  width: 25px;
  height: 25px;
  outline: 1px solid rgb(47, 103, 160);
  display: inline-block;
  background-color:red;


}

.node-finish{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(47, 103, 160);
  display: inline-block;
  background-color: green;

}
.node-shortest-path{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(47, 103, 160);
  display: inline-block;
  background-color: rgb(99, 22, 223);

}
.node-wall{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(47, 103, 160);
  display: inline-block;
  background-color:black;

}
